TYPO3_CONTEXT=Development/Ddev
#TYPO3_CONTEXT=Production

MAIL_TRANSPORT=smtp
MAIL_SMTP_SERVER=hostname:587
MAIL_SMTP_ENCRYPT=
MAIL_SMTP_USER=user@example.com
MAIL_SMTP_PASSWORD=secret
MAIL_FROM_ADDRESS=sender@example.com
MAIL_FROM_NAME=My Site